@import url('/vistas/arboles/estiloArboles.css');  

    /* Main */
    .main {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    /* Filtros */
    .filters {
      display: flex;
      gap: 15px;
      margin-bottom: 15px;
    }

    .filters input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      width: 200px;
    }

    /* Tabla */
    .table-container {
      flex: 1;
      margin-top: 20px;
      background: #fff;
      border-radius: 10px;
      padding: 20px;
      overflow-x: auto;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      font-size: 14px;
    }

    table thead {
      background-color: var(--sidebar);
      color: #fff;
    }

    table th, table td {
      padding: 12px;
      border-bottom: 1px solid #ddd;
    }

    table tr:hover {
      background-color: #f1f1f1;
    }

    /* Botones */
    .table-actions {
      margin-top: 15px;
      display: flex;
      gap: 10px;
    }

    .table-actions button {
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      color: white;
    }

    .btn-pdf {
      background-color: #c779cf;
    }

    .btn-delete {
      background-color: var(--sidebar);
    }